<!DOCTYPE html>
<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <span id="error"></span>
        <p>
        <form name="form1" action="/" onsubmit="return validate()" method="______">
            <input type="text" id="formInfo" name="id" placeholder="ID">
            <p>
            <input type="text" id="formInfo" name="email" placeholder="EMAIL">
            <p>
            <input type="password" id="formInfo" name="password" placeholder="PASSWORD">
            <p>
            <button type="submit">登入</button>
        </form>
        <p>
        <a href="/">index</a>
        <a href="/page1">page1</a>
        <a href="/page2">page2</a>

        <script>
            function validate(){
                var invalid = false;
        
                //去除空白
                for (var i=0; i<form1.formInfo.length; i++){
                    form1.formInfo[i].value = form1.formInfo[i].value.replace(/\s+/g,"");
                }
        
                for (var i=0; i<form1.formInfo.length; i++){
                    if (form1.formInfo[i].value.length == 0){
                        form1.formInfo[i].style.border="1px solid #FF99AA";
                        form1.formInfo[i].focus();
                        invalid = true;
                    }else
                        form1.formInfo[i].style.border="1px solid #ccc";
                }
        
                if (invalid){
                    error.innerHTML = "所有欄位皆需填寫";
                    return false;
                }else if (!form1.formInfo[1].value.match(/^[0-9a-zA-Z]([-._]*[0-9a-zA-Z])*@[0-9a-zA-Z]([-._]*[0-9a-zA-Z])*\.+[a-zA-Z]+$/)){
                    error.innerHTML = "電子信箱格式錯誤";
                    form1.formInfo[1].focus();
                    return false;
                }
            }
        </script>
    </body>
</html>  